*{
    margin: 0px;
    padding: 2px;
}

h1{
    font-family: 'Franklin Gothic Heavy';
    font-size:36px;
    text-align: center;
    color: #005883;
}

h2{
    font-family: 'Franklin Gothic Book';
    text-align: left;
    color:#005883;
}

h4{
    font-family: 'Franklin Gothic Book';
    text-align: justify;
    line-height: 25px;
}

#Encabezado{
    background-color: #ffffff;
}

.header{
    margin: auto;
    background-color: #ffffff; 
    height: auto;
    width: auto;
    border-collapse: collapse;    
}

.header td{
    color: #F47920;
    font-family: 'Franklin Gothic Heavy';
    font-size: 40px;
    text-align: left;
}

body{
    background-color: #F0B429;
}

#header{
    width: 1000px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px ;
    margin-left: 220px;
    margin-right: 100px;
}

ul{
    list-style: none;
}

.main li a {
    background-color: #005883;
    color: #F47920;
    text-decoration: none;
    display: block;
    padding:10px 50px;
}

.main li a:hover{
    background-color:#43C7F4;
}

.main >li{
  float: left;
}

.main li ul {
    display:none;
    position:absolute;
    min-width: 140px;
}

.main li:hover > ul{
    display: block;
}

#twitter{
   
    margin: auto;
    height: 300px;
    width: 300px;  
    border-collapse: collapse;
}

img{
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

.Datos{
    margin: auto;
    background-color: #ffffff;  
    border-color: #F47920;
    height: auto;
    width: auto;  
    border-collapse: collapse;
}

.Datos td b{
    color: #005883;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.Datos td{
    color: #000000;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.frases{
    text-align: center;
    font-family: 'Franklin Gothic Book Italic';
    font-size: 28px;
}

.Programas{
    margin: auto;
    background-color: #ffffff;  
    border-color: #F47920;
    height: 300px;
    width: 300px;  
    border-collapse: collapse;
}

.Programas td b{
    color: #005883;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.Programas td{
    color: #000000;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.Cajas_texto{
    background-color:#B3B3B3;
}

.texto_columnas{
    column-count: 3;
    background-color:#005883;
}

.texto_columnas h2{
    color: #F47920;
}

.encabezados_div{
    background-color:#005883
}

.encabezados_div h2{
    color: #F47920;
    text-align: center;
}

.Citas{
    background-color: #ffffff;
}

.Citas h3 {
    color: #F47920;
    font-family: 'Franklin Gothic Heavy'
}

.Imagen_pie h4 {
    text-align: center; 
}

.Recursoweb_columnas{
    column-count: 2;
    background-color:#005883;
}

.Recursoweb_columnas h4{
    text-align: center;
}

.Recursotexto_columnas {
    column-count: 2;
    background-color:#005883;
}

.Recursotexto_columnas h4{
    text-align: left;
}